*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
}

.qr-code {
    border-radius: 12px;
}

.title {
    text-align: center;
    color:hsl(218, 44%, 22%);
    font-family: sans-serif;
    margin: 30px auto;
}

.text {
    font-size: 1.7rem;
    text-align: center;
    color: hsl(206, 3%, 50%);
}

.footer-attribution {
    position: absolute;
    bottom: 3%;
}

.footer-text {
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}